
<div class="cimenaimg d-flex justify-content-end ">
    <div class="main d-inline-flex flex-column align-items-start align-self-start">
        <h1 class="title">Cinema <br>  Ironhack</h1>
        <a href="/movies" class="btn btn-light rounded-pill"> Check the movies</a>
    </div>
</div>