

<div class="row mt-3">
    {{#each movies as |movie|}}
  <div class="card" style="width: 18rem;">
    <img src="{{movie.image}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
    </div>
    <div class="card-body">
      <a href="detail/{{movie._id}}" class="card-link">See more</a>
    </div>
  </div>
  {{/each}}
</div>cd 